.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-spacing{
    letter-spacing: 2px
}

.container {
    max-width: 1920px;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.font-monospace{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
}

.hover-dark:hover {
  background-color: #0011011f;
}

.sticky-first-column-table{
    max-width: 100rem;
}
 
.sticky-first-column-table th:first-child{
    position: sticky;
    left: 0;
    z-index: 1;
}
.sticky-first-column-table td:first-child{
    position: sticky;
    left: 0;
    z-index: 1;
}